<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theultimatelabs.secretsanta"
    android:versionCode="2"
    android:versionName="1.0.1" >
    
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Top Secret Santa"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="Top Secret Santa" >
            
        </activity>
        <activity
            android:name=".LoginActivity" 
            android:configChanges="orientation|screenSize|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConstraintsActivity"
            android:configChanges="orientation|screenSize|keyboard" >
        </activity>
        
        
    </application>

</manifest>
